/* Général*/
body{
	height: 100%;
	margin: 0 auto;
	padding: 0;
	background-color: #504647;
	width: 70%;
	font-family: 'Baloo', cursive;
}

/* Header */
header{
	margin-top: 8px;
	width: 100%;
	height: 150px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}

.maintitle, .phototitre{
	margin: auto;
	float: left;
}

.maintitle{
	width: 75%;
	height: 150px;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
}

#maintitle{
	width: auto;
	height: 90%;
	padding: 0 8%;
	margin-left: auto;
	margin-right: auto;
}

.phototitre{
	width: 25%;
	height: 150px;
}

#phototitre{
	padding-top: 7%;
	width: 95%;
	height: auto;		
}

/* Menu principal */
.table{
	display: table;
	margin: 0px auto;
}

nav{
	width: 100%;
	height: 50px;
	background-color: #65c7e4;
	display: inline-block;
}

nav ul{
	margin: 0px;
	padding: 0px;
}

nav li{
	list-style-type: none;
	float: left;
}

nav a{
	line-height: 50px;
	display: inline-block;
	text-decoration: none;
	padding: 0px 25px;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: lighter;
}

.home:hover, .catalogue:hover, .philo:hover, .health:hover, .contact:hover{
	background-color: #504647;
	color: #65c7e4;
}

/* Footer */
footer{
	margin-top: -11px;
	height: 150px;
	text-align: center;
	background-color: #65c7e4;
	color: #504647;
	line-height: 150px;
	font-size: 20px;
}

/* Corps de page */
article{
	margin-left: auto;
	margin-right: auto;
	height: auto;
	background-color: #fff;
	background: url("../Pics/OBDRQT0.jpg");
	background-position: top bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: black;
}

/* Page "Accueil" */
.p1{
	width: 100%;
	height: 540px;
	background: url("../imgs/accueil.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 80%;
}

/*.logoaccueil{
	display: block;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: RED.
}*/

.logoaccueil > img{
	width: 50%;
	height: auto;
	padding-top: 1%;
	margin-left: auto;
	margin-right: auto;
	display: block;

}

/* Page "Catalogue" */
.p2{
	
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	height: auto;
	padding-top: 5%;
	padding-bottom: 5%;
	color: black;

}

.man, .woman, .kids, .sun{
	display: table;
	height: 300px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 2%;
	padding-bottom: 2%;
	color: black;
	
}

.gal{
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.cat{
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
	width: 46%;
	height: auto;
	background-color: rgba(101,199,228,0.9);
	float: left;
	text-align: center;
	color: black;
}

.cat img{
	margin-top: 5%;
	display: block;
	width: 90%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.p2  h2{
	padding-left: 3%;
	font-size: 25px;
}

.cat:hover{
	background-color: #504647;
	color: white;
	width: 46%;
	height: auto;
	opacity: 50%;
    cursor: pointer;
    transition: 0.2s;
    opacity: 0.9;
}

img:hover{
	border-radius: 2%;
}

.man{
	background-color: rgba(20, 99, 208, 0.55);
	color: white;
}

.woman{
	background-color: rgba(255, 49, 253, 0.6);
	color: white;
}

.kids{
	background-color: rgba(15, 222, 29, 0.7);
	color: white;
}

.sun{
	background-color: rgba(255, 168, 0, 0.8);
	color: white;
}

.bouffe{
	background: url("../Pics/OBDRQT0.jpg");
	color: white;
}
/* Page "Qui sommes-nous?" */
.p3, .p4, .p5{
	display: table;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	height: auto;
	text-align: justify;
	font-size: 21px;
	font-family: Helvetica, sans-serif;
	color: #000;
}

#qsn1 img{
	margin-top: 1%;
	width: 30%;
	height: auto;
	float: left;
	padding-right: 2%;
}

.p3b, .p4b, .p5b{
	background-color: rgba(255,255,255,0.9);
	padding: 1px 3%;
	margin: 2% 0;
}

#qsn2 img{
	margin-top: 1%;
	width: 30%;
	height: auto;
	float: right;
	padding-left: 2%;
}

/*Page "Bien-être"*/

/*.p4{
	display: table;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	height: auto;
	text-align: justify;
	font-size: 21px;
	font-family: "Times New Roman", serif;
	color: #000;
}*/

/*.p4b{
	background-color: rgba(255,255,255,0.9);
	padding: 1px 3%;
	margin: 2% 0;
}*/

#ip4-1{
	width: 30%;
	height: auto;
	float: left;
	padding-right: 2%;
	margin-top: 1%;
}

#ip4-2{
	width: 100%;
	height: auto;
	float: left;
	margin-top: 4%;
	margin-bottom: 10%;
}

.videoydy{
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin: 3% auto;
}
/*Page "Contact"*/
.p5{
	text-align: center;
}

.location{
	width: 100%;
	height: auto;
	display: table;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.gmap{
	width: 50%;
	height: auto;
	float: left;
}

.adresse{
	width: 50%;
	height: auto;
	float: left;
}

ul{
	list-style-type: none;
}

.logocontact{
	width: 30%;
	height: auto;
	float: left;
}

.logocontact img{
	width: 100%;
	height: auto;
}

form{
	background-color: #504647;
	width: 65%;
	color: white;
	margin-right: auto;
	margin-left: auto;
	padding-top: 0.1%;
	padding-bottom: 0.1%;
}

input{
	width: 80%;
}

textarea{
	width: 80%;
}