/* Général*/
body{
	height: 100%;
	margin: 0 auto;
	padding: 0;
	background-color: #504647;
	width: 70%;
	font-family: 'Baloo', cursive;
}

/* Header */
header{
	margin-top: 8px;
	width: 100%;
	height: 150px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}

.maintitle, .phototitre{
	margin: auto;
	float: left;
}

.maintitle{
	width: 75%;
	height: 150px;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
}

#maintitle{
	width: auto;
	height: 90%;
	padding: 0 8%;
	margin-left: auto;
	margin-right: auto;
}

.phototitre{
	width: 25%;
	height: 150px;
}

#phototitre{
	padding-top: 7%;
	width: 95%;
	height: auto;		
}

/* Menu principal */
.table{
	display: table;
	margin: 0px auto;
}

nav{
	width: 100%;
	height: 50px;
	background-color: #65c7e4;
	display: inline-block;
}

nav ul{
	margin: 0px;
	padding: 0px;
}

nav li{
	list-style-type: none;
	float: left;
}

nav a{
	line-height: 50px;
	display: inline-block;
	text-decoration: none;
	padding: 0px 25px;
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: lighter;
}

.home:hover, .catalogue:hover, .philo:hover, .health:hover, .contact:hover{
	background-color: #504647;
	color: #65c7e4;
}

/* Footer */
footer{
	margin-top: -11px;
	height: 150px;
	text-align: center;
	background-color: #65c7e4;
	color: #504647;
	line-height: 150px;
	font-size: 20px;
}

/* Corps de page */
article{
	width: 100%;
	height: auto;
	background-color: #fff;
	color: black;
}

.p1, .p2, .p3, .p4, .p5{
	width: 100%;
	height: auto;
	font-family: Tahoma, Geneva, Kalimati, sans-serif;
	color: #000;
}

.p3, .p4, .p5{
	display: table;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	font-size: 19px;
	line-height: 200%;
}

.p3b, .p4b, .p5b{
	width: 75%;
	background-color: rgba(255,255,255,0.75);
	padding: 0.1% 3%;
	margin: 2% 0;
}

/******************************* Page 1: ACCUEIL *******************************/
.p1{
	background: url("../imgs/bg/accueil.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.logoaccueil > img{
	width: 50%;
	height: auto;
	padding: 5% auto;
	margin-left: auto;
	margin-right: auto;
	display: block;

}

/******************************* Page 2: CATALOGUE *******************************/
.p2{
	background: url("../imgs/bg/catalogue.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding-top: 5%;
	padding-bottom: 5%;
}

.p2b{
	width: 80%;
	margin: 0% auto;
}

.man, .woman, .kids, .sun{
	display: table;
	height: 300px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 2%;
	padding-bottom: 2%;
	color: black;
}

.gal{
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.cat{
	margin: 1%;
	padding: 1%; 
	width: 46%;
	height: auto;
	background-color: rgba(101,199,228,0.9);
	float: left;
	text-align: center;
	color: black;
}

.cat img{
	margin-top: 5%;
	margin-bottom: 5%;
	display: block;
	width: 90%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.p2  h2{
	padding-left: 3%;
	font-size: 25px;
}

.cat:hover{
	background-color: #504647;
	color: white;
	width: 46%;
	height: auto;
	opacity: 50%;
    cursor: pointer;
    transition: 0.2s;
    opacity: 0.9;
}

img:hover{
	border-radius: 2%;
}

.man{
	background-color: rgba(20, 99, 208, 0.55);
	/*background-color: rgba(114, 131, 102, 0.8);*/
	color: white;
}

.woman{
	background-color: rgba(255, 49, 253, 0.6);
	/*background-color: rgba(182, 112, 86, 0.8);*/
	color: white;
}

.kids{
	background-color: rgba(15, 222, 29, 0.7);
	/*background-color: rgba(60, 93, 58, 0.8);*/
	color: white;
}

.sun{
	background-color: rgba(255, 168, 0, 0.8);
	/*background-color: rgba(40, 35, 35, 0.8);*/
	color: white;
}

/******************************* Page 3: QUI SOMMES-NOUS? *******************************/
.p3{
	background: url(../imgs/bg/philosophie.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin-left: auto;
	margin-right: auto;
}

.p3b{
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(40, 35, 35, 0.5);
	color: white;
	line-height: 200%;
}

#qsn1 img{
	margin-top: 1%;
	width: 30%;
	height: auto;
	float: left;
	padding-right: 3%;
}

#qsn2 img{
	margin-top: 5%;
	width: 30%;
	height: auto;
	float: right;
	padding-left: 3%;
}

/******************************* Page 4: BIEN-ETRE *******************************/
.p4{
	background: url(../imgs/bg/bienetre.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin-left: auto;
	margin-right: auto;
}

.p4b{
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(40, 35, 35, 0.5);
	color: white;
	line-height: 200%;
}

#ip4-1{
	width: 30%;
	height: auto;
	float: left;
	padding-right: 2%;
	margin-top: 1%;
}

#ip4-2{
	width: 100%;
	height: auto;
	float: left;
	margin-top: 4%;
	margin-bottom: 10%;
}

.videoydy{
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin: 3% auto;
}

.food{
	background: url(../imgs/bg/food.jpg);
	background-size: cover;
	color: white;
	display: table;
	height: 300px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	color: black;
}

/******************************* Page 5: CONTACT *******************************/
.p5{
	text-align: center;
	background: url(../imgs/bg/contact.jpg);
	background-position: top right;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin-left: auto;
	margin-right: auto;
}

.p5b{
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(40, 35, 35, 0.4);
	color: white;
}

.location{
	width: 100%;
	height: auto;
	display: table;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.gmap{
	width: 50%;
	height: auto;
	float: left;
}

.adresse{
	width: 50%;
	height: auto;
	float: left;
}

ul{
	list-style-type: none;
}

.logocontact{
	width: 30%;
	height: auto;
	float: left;
}

form{
	background-color: #504647;
	width: 65%;
	color: white;
	margin-right: auto;
	margin-left: auto;
	padding-top: 0.1%;
	padding-bottom: 0.1%;
}

input{
	width: 80%;
}

textarea{
	width: 80%;
}