/* Général*/
body{
	height: 100%;
	margin: 0 auto;
	padding: 0;
	background-color: #504647;
	width: 75%;
	font-family: 'Open Sans', sans-serif;
}

/* Header */
header{
	display: table;
	margin-top: 0.3%;
	width: 100%;
	height: 150px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	vertical-align: bottom;
	
}

.maintitle, .phototitre{
	margin: auto;
	float: left;
}

.maintitle{
	display: table;
	max-width: 75%;
	height: 150px;
}

#maintitle{
	max-width: 65%;
	height: auto;
	padding: 0 8%;
	margin-left: auto;
	margin-right: auto;
}

.phototitre{
	max-width: 25%;
	height: 150px;	
}

#phototitre{
	padding-top: 7%;
	max-width: 95%;
	height: auto;
	display: none;
}

/* Menu principal */
.table{
	display: table;
	margin: 0 auto;
	font-family: 'Baloo', cursive;
}

nav{
	width: 100%;
	height: 50px;
	background-color: #65c7e4;
	display: table;
	margin-bottom: 0.3%;

}

nav ul{
	margin: 0px;
	padding: 0px;
}

nav li{
	list-style-type: none;
	float: left;
}

nav a{
	line-height: 50px;
	display: inline-block;
	text-decoration: none;
	padding: 0px 25px;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.2vw;
	font-weight: lighter;
}

.home:hover, .catalogue:hover, .philo:hover, .health:hover, .contact:hover{
	background-color: #504647;
	color: #65c7e4;
}

/* Footer */
footer{
	display: table;
	margin-top: 0.3%;
	height: 100px;
	width: 100%;
	text-align: center;
	background-color: #65c7e4;
	color: #504647;
	line-height: 100px;
	font-size: 1vw;
	color: white;

}

footer img{
	width: 4%;
	height: auto;
}

/* Corps de page */
article{
	width: 100%;
	height: auto;
	background-color: #fff;
	color: black;
}

.p1, .p2, .p3, .p4, .p5, .p6, .p7{
	width: 100%;
	height: auto;
	/*font-family: Tahoma, Geneva, Kalimati, sans-serif;*/
	color: #000;
}

.p1, .p2, .p3, .p4, .p5{
	display: table;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	font-size: 17px;
}

.p1b, .p3b, .p4b, .p5b, .p6b, .p7b{
	width: 75%;
	/*background-color: rgba(10, 10, 10, 0.5);
	color: white;*/
	padding: 0.1% 5%;
	margin: 2% auto;
	line-height: 1.3em;
	/*line-height: 200%;*/

}

/******************************* Page 1: ACCUEIL *******************************/
.p1{
	/*background: url("../imgs/bg/accueil.jpg");*/
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.p1 h1{
	text-align: center;
}

h6{
	text-align: right;
}

.cadreaccueil{
	display: table;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	vertical-align: middle;

}

.logoaccueil{
	width: 50%;
	height: auto;
	float: left;
	margin: 0 auto;
}

.accroche{
	width: 50%;
	height: auto;
	float: left;
	padding-top: 13%;
}

.bandeaccroche{
	margin-left: 7%;
	display: table;
	background-color: #504647;
	width: 100%;
	height: 30px;
	border-radius: 20px;
	/*vertical-align: middle;*/
}

.texteaccroche{
	color: white;
	font-size: 1.3vw;
	line-height: 200%;
	vertical-align: middle;
	/*float: left;*/
}

.rondgris{
	background-color: #504647;
	width: 20px;
	height: 20px;
	border: 5px solid #65c7e4;
	border-radius: 20px;
	float: left;
	margin: 1% 5%;
}

.logoaccueil  img{
	width: 100%;
	height: auto;
	/*padding: 5% auto;*/
	margin-left: auto;
	margin-right: auto;
	/*display: block;*/
}

/******************************* Page 2: CATALOGUE *******************************/
.p2{
	/*background: url("../imgs/bg/catalogue.jpg");*/
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding-top: 5%;
	padding-bottom: 5%;
}

.p2b{
	padding: 0.1% 0;
}

.man, .woman, .kids, .sun{
	display: table;
	height: 300px;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 2%;
	padding-bottom: 2%;
	/*color: black;*/
	background-color: rgba(255, 255, 255, 0.75);
}

.gal{
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.cat{
	margin: 1%;
	padding: 1%; 
	width: 46%;
	height: auto;
	background-color: rgba(101,199,228,0.9);
	float: left;
	text-align: center;
	color: black;
}

.cat img{
	margin-top: 5%;
	margin-bottom: 5%;
	display: block;
	width: 90%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.p2  h2{
	
	
	font-size: 25px;
	margin-left: 3%;
	
}

.cat:hover{
	background-color: #FFF;
	color: black;
	width: 46%;
	height: auto;
	opacity: 50%;
    cursor: pointer;
    transition: 0.2s;
    opacity: 0.9;
}

/*img:hover{
	border-radius: 2%;
}*/

.man{
	color: rgb(20, 99, 208);
	background-color: #504647;
	color: white;
}
#man{
	/*background-color: rgb(20, 99, 208);*/
}
.woman{
	/*color: rgb(255, 49, 253);*/
	/*background-color: rgba(182, 112, 86, 0.8);*/
	/*color: white;*/
}

.kids{
	/*color: rgb(15, 222, 29);*/
	/*background-color: rgba(60, 93, 58, 0.8);*/
	/*color: white;*/
}

.sun{
	/*color: rgb(255, 168, 0);*/
	/*background-color: rgba(40, 35, 35, 0.8);*/
	/*color: white;*/
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(80,70,71); /* Fallback color */
    background-color: rgba(80,70,71,0.8); /* Black w/ opacity */
    color: white;
    text-align: center;
    font-style: italic;
}

.modal p{
    margin-top: 10px;
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    /*border-radius: 2%;*/
    color: white;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/******************************* Page 3: QUI SOMMES-NOUS? *******************************/
.p3{
	/*background: url(../imgs/bg/bienetre.jpg);*/
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin-left: auto;
	margin-right: auto;
}

.p3b{
	/*background-color: rgba(40, 35, 35, 0.5);
	color: white;*/
}

.p3d{
	float: right;
}

#qsn1 img{
	margin-top: 1%;
	width: 30%;
	height: auto;
	float: left;
	padding-right: 3%;
}

#qsn2 img{
	margin-top: 3%;
	width: 30%;
	height: auto;
	float: right;
	padding-left: 3%;
}

/******************************* Page 4: BIEN-ETRE *******************************/
.p4{
	/*background: url(../imgs/bg/philosophie.jpg);*/
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin-left: auto;
	margin-right: auto;
}

.p4b{
	/*background-color: rgba(40, 35, 35, 0.5);
	color: white;*/
}

#ip4-1{
	width: 30%;
	height: auto;
	float: left;
	padding-right: 2%;
	margin-top: 1%;
}

#ip4-2{
	width: 100%;
	height: auto;
	float: left;
	margin-top: 4%;
	margin-bottom: 10%;
}

.videoydy{
	display: block;
	margin: 5% auto;
}

.food{
	background: url(../imgs/bg/food.jpg);
	background-size: cover;
	color: white;
	display: table;
	height: 300px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	color: black;
}

/******************************* Page 5: CONTACT *******************************/
.p5{
	text-align: center;
	/*background: url(../imgs/bg/contact.jpg);*/
	background-position: top right;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin-left: auto;
	margin-right: auto;
}

.p5b{
	/*background-color: rgba(40, 35, 35, 0.4);*/
	/*color: white;*/
}

.location{
	width: 100%;
	height: auto;
	display: table;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.gmap{
	width: 50%;
	height: auto;
	float: left;
	line-height: 300%;
}

.adresse{
	width: 50%;
	height: auto;
	float: left;
	line-height: 150%;
}

ul{
	list-style-type: none;
}

.logocontact{
	width: 30%;
	height: auto;
	float: left;
}

form{
	background-color: #504647;
	width: 65%;
	color: white;
	margin-right: auto;
	margin-left: auto;
	padding-top: 1%;
	padding-bottom: 1%;
}

input{
	width: 80%;
}

textarea{
	width: 80%;
}

/******************************* Page 6: CONNEXION *******************************/

.p6{
	width: 100%;
/*	height: 300px;*/
	text-align: center;
	margin: 1% auto;
	
	padding-bottom: 1% ;
}

.p6 form{
	padding-bottom: 2%;
}

/******************************* Page 7: UPLOAD *******************************/
.p7{
	/*background: url("../imgs/bg/upload.jpg");*/
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: Arial, Geneva, Kalimati, sans-serif;
	color: #000;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.p7b{
	width: 90%;
}

table{
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	width: 100%;
	height: auto;
	vertical-align: middle;
}

tr, td, th{
	
	border: 1px solid black;
	vertical-align: middle;
	background-color: lightgrey;
}

tr, td{
	padding: 0.5% 1%;
	font-size: 1vw;
}

button{
	margin: 1% auto; 
}

#pic{
	width: 15%;
}

/******************************* Page 8: AJOUT D'UNE PAIRE *******************************/
.entree{
	width: 100%;
	height: auto;
	display: table;
}

.formleft{
	width: 30%;
	height: auto;
	float: left;
	text-align: right;
}

.formright{
	width: 70%;
	height: auto;
	float: left;
}

select, input, textarea{
	width: 90%;
	margin: 1% auto;
}

.danger{
	color: red;
	background-color: red;
	width: 100%;
	height: 100px;

}